<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Welcome to Squiddit</title>

  <!-- JS links -->
  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script type="text/javascript" src="/js/materialize.min.js"></script>
  <script src="https://use.fontawesome.com/f1ff63a0b2.js"></script>

  <!-- CSS links -->
  <link rel="stylesheet" type="text/css" href="/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="/css/materialize.css">
  <link rel="stylesheet" type="text/css" href="/css/hover.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">

</head>
<body>

  <% include ../partials/nav %>

  <main>

    <h1>What's New?</h1>
    <!-- Checks for user session, allows posting if user logged in -->
    <% if (req.session.user) { %>

      <div class="newPost">
          <a href="/squiddit/new">ADD A NEW TOPIC</a><br>
      </div>

    <% } else { %>

      <div class="warning">
        <p><i>You must be logged in to post</i></p>
      </div>

    <% } %>

  <div class="container">
      <div class="topics">

        <% topics.forEach((topic) => { %>
          <div class="single-topic">
            <h4><span class="topic-subject"><%= topic.subject %></span></h4>
            <!-- <div class="topic-content"><%- topic.content %></div> -->
            <div class="topic-controls">

            <!-- Displays # of topic votes, comments -->
            <p><i>VOTES: <%= topic.votes %> - COMMENTS:
            <%  let commentCount;
                count.forEach((row) => {
                if (row.topic_id == topic.id) commentCount = row.count})
                commentCount = commentCount ? commentCount : 0 %>
            <%= commentCount %>
            Posted by: <%= topic.username %></i></p>

            <!-- Vote -->
            <form method="POST" action="/Squiddit/<%= topic.id %>?_method=put">
              <button type="submit" class="btn purple lighten-2 valign-wrapper">VOTE</button>
            </form>

            <!-- Delete if and only if user posted this topic -->
            <% if (req.session.user) {
                if (topic.username === req.session.user.username) { %>
            <form method="POST" action="/Squiddit/<%= topic.id %>?_method=delete">
              <button type="submit" class="btn purple lighten-2">DELETE</button>
            </form>
            <% }} %>

            <!-- Read More Link to Show Page -->
            <a class="btn purple lighten-2" href="/Squiddit/<%= topic.id %>">SEE MORE</a>

            </div>
          </div>

        <% }) %>

      </div>


    </div>
  </main>
  <% include ../partials/footer %>
</body>
</html>
