<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Welcome to Squiddit</title>
  <!-- CSS links -->
  <link rel="stylesheet" type="text/css" href="/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">

</head>
<body>

  <header id="header">

    <a href="/squiddit"><h1>Squiddit</h1></a>
    <% if (req.session.user) { %>
    <p>You are logged in as <%= req.session.user %>  <a href="/users/logout">LOG OUT</a></p>
    <% } else { %>
    <a href="/users/login">LOGIN / SIGN UP</a>
    <% } %>

  </header><!-- /header -->

  <main>

    <% if (req.session.user) { %>
    <div class="newPost">
        <a href="/squiddit/new">ADD A NEW TOPIC</a><br>
    </div>
    <% } else { %>
    <div class="warning">
      <p><i>You must be logged in to post</i></p>
    </div>
    <% } %>

  <div class="container">
    <div class="topics">
    <h1>Topics</h1>
    <% topics.forEach((topic) => { %>
    <div class="single-topic">
      <h3><span class="topic-subject"><%= topic.subject %></span></h3>
      <div class="topic-content"><%= topic.content %></div>
      <div class="topic-controls">
      <p><i>VOTES: <%= topic.votes %> - COMMENTS:
      <% count.forEach((row) => {
        if (row.topic_id === topic.id) { %>
      <%= row.count %><% }}) %>
      Posted by: <%= topic.username %></i></p>
      <form method="POST" action="/Squiddit/<%= topic.id %>?_method=put">
        <!-- <input type="text" name="redir" value="<%= topic.id %>"" style="display : none" /> -->
        <input type="submit" value="VOTE" />
      </form>
      <% if (topic.username === req.session.user) { %>
      <form method="POST" action="/Squiddit/<%= topic.id %>?_method=delete">
        <!-- <input type="text" name="redir" value="<%= topic.id %>"" style="display : none" /> -->
        <input type="submit" value="DELETE" />
      </form>
      <% } %>
      <form method="GET" action="/Squiddit/<%= topic.id %>">
        <!-- <input type="text" name="redir" value="<%= topic.id %>"" style="display : none" /> -->
        <input type="submit" value="SEE MORE" />
      </form>
      <!-- <a href="/squiddit/<%= topic.id %>">SEE MORE</a> -->
      </div>
    </div>
    <% }) %>
    </div>
    <div class="sidebar">
      <h1>ABOUT SQUIDDIT</h1>
      <p>A project of full-stack developer, Marcel Hamel, Squiddit is a discussion forum where you can rant and rave about everyone's favorite cephalopods.</p>
    </div>
  </main>
</body>
</html>
