<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= topic.subject %></title>
    <!-- CSS links -->
    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">

  </head>
  <body>

    <header id="header">

      <a href="/squiddit"><h1>Squiddit</h1></a>
      <!-- Checks to see if user session exists, adjust header accordingly -->
      <% if (req.session.user) { %>
      <p>You are logged in as <%= req.session.user %>  <a href="/users/logout">LOG OUT</a></p>
      <% } else { %>
      <a href="/users/login">LOGIN / SIGN UP</a>
      <% } %>

    </header><!-- /header -->

    <main>

    <!-- Topic display -->
      <div class="post-display">
        <h1><%= topic.subject %></h1>
        <p><i>Posted by <%= topic.username %></i></p>
        <hr>
        <p><%- topic.content %></p>
        <hr>
      </div>

      <!-- If User Logged In, Display Comments -->
      <% if (req.session.user) { %>
        <p>Weigh in below:</p>
        <form method="POST" action="/squiddit/<%= topic.id %>">
          <input type="text" name="post[topic_id]" value="<%= topic.id %>" style="display: none" />
          <input type="text" class="content" name="post[content]" placeholder="Comment here" />
          <input type="submit" value="POST" />
        </form>
      <% } else { %>
        <div class="warning">
          <p><i>You must be logged in to comment</i></p>
        </div>
      <% } %>

      <!-- Display all comments -->
      <% posts.forEach((post) => { %>
        <div class="post">
          <p><%= post.content %></p>
          <div class="post-controls">
            <p>Posted by: <%= post.username %> - Votes: <%= post.votes %>

            <!-- If current user posted comment, let them delete it -->
            <% if (post.username === req.session.user) { %>
              <form method="POST" action="/posts/<%= post.id %>?_method=delete">
                <input type="text" name="redir" value="<%= topic.id %>" style="display: none" />
                <input type="submit" value="DELETE" />
              </form>
            <% } %>

            <form method="POST" action="/posts/<%= post.post_id %>/vote?_method=put">
              <input type="text" name="redir" value="<%= topic.id %>" style="display: none" />
              <input type="submit" value="VOTE" />
            </form>
            </p>
          </div>

        <!-- Display subcomments-->
        <% subs.forEach((sub) => {
          if (sub.comment_id === post.id) { %>
            <div class="subpost">
              <p><b><%= sub.username %></b> says: <%= sub.content %></p>
              <!-- Let user delete subcomment if they posted -->
              <% if (sub.username === req.session.user) { %>
                <form method="POST" action="/posts/<%= post.id %>/<%= sub.id %>?_method=delete">
                  <input type="text" name="redir" value="<%= topic.id %>" style="display: none" />
                  <input type="submit" value="DELETE SUB"/>
                </form>
              <% } %>
            </div>

      <% }}) %>

      <!-- Allow subcommenting if logged in -->
      <% if (req.session.user) { %>
      <form method="POST" action="/posts/<%= post.id %>">
        <input type="text" name="redir" value="<%= topic.id %>" style="display: none" />
        <input type="text" name="subPost[content]" />
        <input type="submit" value="SUBMIT" />
      </form>
      <% } %>

      </div>
      <% }) %>
    </main>
  </body>
</html>
