<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= topic.subject %></title>
    <!-- JS links -->
    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/materialize.min.js"></script>
    <script src="https://use.fontawesome.com/f1ff63a0b2.js"></script>

    <!-- CSS links -->
    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/css/materialize.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>

  <% include ../partials/nav %>

    <main>

    <!-- Topic display -->
      <div class="post-display">
        <h1><%= topic.subject %></h1>
        <p><i>Posted by <%= topic.username %></i></p>
        <hr>
        <p><%- topic.content %></p>
        <hr>
      </div>

      <!-- If User Logged In, Display Comments -->
      <% if (req.session.user) { %>
        <p>Weigh in below:</p>
        <form method="POST" action="/squiddit/<%= topic.id %>">
          <input type="text" name="post[topic_id]" value="<%= topic.id %>" style="display: none" />
          <textarea class="newcontent" name="post[content]" placeholder="Comment here"></textarea><br />
          <button type="submit" class="btn purple darken-2 right">POST</button>
        </form>
      <% } else { %>
        <div class="warning">
          <p><i>You must be logged in to comment</i></p>
        </div>
      <% } %>

      <!-- Display all comments -->
      <% posts.forEach((post) => { %>
        <div class="post">
          <p><%= post.content %></p>
          <div class="post-controls">
            <p>Posted by: <%= post.username %> - Votes: <%= post.votes %>

            <!-- If current user posted comment, let them delete it -->
            <%
                if (req.session.user && post.username === req.session.user.username) { %>
              <form method="POST" action="/posts/<%= post.id %>?_method=delete">
                <input type="text" name="redir" value="<%= topic.id %>" style="display: none" />
                <button type="submit" class="btn purple darken-2">DELETE</button>
              </form>
            <% } %>

            <form method="POST" action="/posts/<%= post.id %>/vote?_method=put">
              <input type="text" name="redir" value="<%= topic.id %>" style="display: none" />
              <button type="submit" class="btn purple darken-2">VOTE</button>
            </form>
            </p>
          </div>

        <!-- Display subcomments-->
        <% subs.forEach((sub) => {
          if (sub.comment_id == post.id) { %>
            <div class="subpost">
              <p><b><%= sub.username %></b> says: <%= sub.content %></p>
            </div>

      <% }}) %>

      <!-- Allow subcommenting if logged in -->
      <% if (req.session.user) { %>
      <form method="POST" action="/posts/<%= post.id %>">
        <input type="text" name="redir" value="<%= topic.id %>" style="display: none" />
        <textarea type="text" name="subPost[content]" placeholder="Comment here..."></textarea>
        <button type="submit" value="SUBMIT" class="btn purple darken-2 right">SUBMIT</button>
      </form>
      <% } %>

      </div>
      <% }) %>
    </main>
    <% include ../partials/footer %>
  </body>
</html>
